* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: auto;
    font-family:"Anton", sans-serif;
    max-width: 575px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    background-image: url(basket.png);
    background-size: cover;
     padding: 20px;
}

@font-face {
  font-family: 'numbers'; 
  src: url('fontnumber.ttf');
}

h3 {
    width: 149px;
    height: 36px;
    color: #243D4B;
    font-size: 65px;
    text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 
    0px -4px 10px rgba(255,255,255,0.3); ;
    margin-bottom: 60px;
}

h3:hover{
    color: #F7BC47;
}

#score {
    width: 100%;
    max-width: 575px;
    display: flex;
    justify-content:space-around;
    margin-bottom: 20px;   
}

#scoreboardhome , #scoreboardguest{
    height: 80px;
    background-color: #080001;
    border-radius: 10px;
    color: antiquewhite;
    display: flex;
    width: 120px;
    justify-content: center;
    align-items: center;
    font-family: "numbers";
    font-size: 3rem;
    text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 
    0px -4px 10px rgba(255,255,255,0.3);
    border: 3px solid #243D4B ;
}

#timer {
    font-size: 2rem;
    color: #F7BC47;
    text-align: center;
    margin: 20px 0;
    text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3), 
                 0px -4px 10px rgba(255, 255, 255, 0.3);
}

.container {
    width: 100%;
    max-width: 570px;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}

#points {
    display: flex;
    width: 575px;
    flex-direction: row;
    justify-content: center;
}

.homebuttons, .guestbuttons {
    width: 575px;
    height: 45px;
    display: flex;
    justify-content: center; 
    margin: 0 auto; 
}

.btn {
    font-size: 1rem;
    padding: 10px;
    background-color: #243D4B;
    color: #F7BC47;
    width: 100%;
    max-width: 50px;
    height: 40px;
    border-radius: 5px;
    text-align: center;
    text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 
    0px -4px 10px rgba(255,255,255,0.3); ;
}

.btn:hover {
  color: #C79553;
  border: 2px solid #C79553;
}

.newgame:hover {
  color: #F7BC47;
  border: 2px solid #C79553;
  background-color: #243D4B;
}

.newgame {
    display: block;
    width: 170px;
    margin: 0PX auto;  
}
.newgame-btn {
    background-color: #F7BC47;
    color: #243D4B;
    width: 170px;
    height: 45px;
    border-radius: 5px;
    text-align: center;
    border: 2px solid #243D4B;
    text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 
    0px -4px 10px rgba(255,255,255,0.3); ;
}

